@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-dark-950 text-white;
}

.glow-effect {
  @apply transition-all duration-300 hover:scale-105 hover:shadow-lg hover:brightness-110;
}

.section-animate {
  opacity: 0;
  transform: translateY(30px);
}